*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
.vscode/
npm-debug.log*
.idea/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
www/
dist/
node_modules/
tmp/
temp/
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate